body {
	margin: 0;
	padding: 0;
	background: url(https://images.unsplash.com/photo-1477936821694-ec4233a9a1a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=80);
	background-position: left;
	background-size: cover;
}

html {
	height: 100%;
}
.font {
	font-family: 'Changa', sans-serif;
	font-size: 3.2rem;
}
.font2 {
	font-family: 'Poppins', sans-serif;
}

.set {
	margin-top: 8rem;
}

hr {
	width: 400px;
	margin: 0;
	margin-bottom: 50px;
}
.card-imgSet {
	height: 20vh;
	object-fit: cover;
}
.card-imgSet2 {
	height: 35vh;
	object-fit: cover;
}
.carousel {
	height: 400px;
}
.imgC {
	height: 500px;
	object-fit: cover;
}
.box {
	width: auto;
	margin-left: 30px;
	background: #e9ecef;
}
.box h1 {
	font-family: 'Poppins', sans-serif;
}
.box #paisa {
	font-family: 'Merriweather', serif;
}
.box .newFont {
	font-family: 'Open Sans', sans-serif;
}
#description {
	background: #e9ecef;
	min-height: 60vh;
	font-size: 22px;
	font-weight: 500;
	padding-top: 100px;
	font-family: 'Open Sans', sans-serif;
}
#desc_icon {
	font-size: 40px;
}
.popularLocation {
	position: relative;
	width: 230px;
	height: 330px;
}
.popularLocation img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.popularLocation_text {
	position: absolute;
	width: 100%;
	top: 80%;
	left: 12%;
	font-weight: 900;
	color: white;
	font-size: 18px;
}
.comment_box {
	background: #e9ecef;
	font-family: 'Open Sans', sans-serif;
}
.comment_button {
	padding: 1.0rem;
	margin-bottom: 12px;
}
.amenities {
	background: #e9ecef;
	min-height: 40vh;
	font-family: 'Open Sans', sans-serif;
}
/* i {
	color: #fe5000;
	margin-right: 8px;
} */
.calc_box {
	width: 400px;
	height: 300px;
}
.activities_color,
.oactivities {
	background: #e9ecef;
	font-family: 'Open Sans', sans-serif;
}
.review_section {
	font-family: 'Open Sans', sans-serif;
}

.campground_box {
	width: 100%;
	height: 200px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}
.campground_box img {
	height: 100%;
	width: 250px;
	object-fit: cover;
}
.campground_text {
	width: 100%;
}

.blog_img {
	width: 100%;
	height: 60vh;
	background: red;
	position: relative;
}
.blog_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.blog_text h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 2.5rem;
}
.blog_text p {
	font-family: 'Baloo 2', cursive;
	font-size: 1.3rem;
	font-weight: 100;
}
.blog_img1 {
	background: red;
	height: 450px;
	width: 100%;
	position: relative;
}
.blog_img1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.booking_box,
.booking_back {
	position: relative;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	background: #e9ecef;
	border-radius: 10px;
}
.booking_box img {
	width: 200px;
	object-fit: cover;
}
.checked {
	color: orange;
}
.blog_bigbox {
	cursor: grab;
	height: 300px;
	padding: 30px 30px 0 30px;
}
.blog_bigbox::-webkit-scrollbar {
	width: 0 !important;
}
.blog_box {
	max-height: 200px;
	min-width: 300px;
	transition: transform 0.2s;
	margin-right: 20px;
	position: relative;
}
.blog_textbox {
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	top: 60%;
	padding: 5px 0 5px 5px;
	width: 100%;
	opacity: 0;
	font-size: 15px;
	color: white;
	left: 0;
}
.blog_box:hover .blog_textbox {
	opacity: 1;
}
.blog_box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.blog_box:hover {
	transform: scale(1.2);
	z-index: 1;
	/* transition-duration: 0.8s; */
}
.blog_box:hover .blog_textbox span {
	padding: 0 20px 0 20px;
}
.zoom {
	transition: transform 0.9s;
}
.zoom:hover {
	transform: scale(1.1);
}
nav {
	height: 100px;
	transition: 0.6s;
}
nav .navbar-brand {
	font-size: 2.5rem;
	transition: 0.6s;
	font-family: 'Nunito', sans-serif;
	font-weight: 900;
	color: white;
}
.Sticky {
	height: 55px;
	background: #fe5000;
	transition: 0.6s;
}
.Sticky .navbar-brand {
	color: white;
	font-size: 20px;
	transition: 0.6s;
}

.search-txt {
	width: 16rem;
	border: 2px solid #fe5000;
	border-radius: 50px;
	height: 50px;
	outline: none;
	padding-left: 10px;
}
.search-bar_submit {
	border-radius: 50px;
	border: none;
	outline: none;
	height: 50px;
	background: #fe5000;
	width: 50px;
	color: white;
	font-weight: 900;
}
.special_button {
	background-image: linear-gradient(
		to left,
		#fe5000,
		#fe6f00,
		#fc8900,
		#f9a000,
		#f5b600,
		#f5b600,
		#f5b600,
		#f5b600,
		#f9a000,
		#fc8900,
		#fe6f00,
		#fe5000
	);
	color: white;
	border-radius: 30px;
	text-transform: uppercase;
	background-size: 400%;
	font-family: 'Nunito', sans-serif;
	padding: 8px 17px;
	font-weight: 600;
}
.special_button:hover {
	text-decoration: none;
	color: white;
	animation: animate 8s linear infinite;
}
@keyframes animate {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}
.special_button_back {
	background-image: linear-gradient(
		to left,
		#bf211e,
		#ca3e1c,
		#d3551c,
		#dc6a1d,
		#e37f20,
		#e37f20,
		#e37f20,
		#e37f20,
		#dc6a1d,
		#d3551c,
		#ca3e1c,
		#bf211e
	);
	color: white;
	border-radius: 30px;
	text-transform: uppercase;
	background-size: 400%;
	font-family: 'Nunito', sans-serif;
	padding: 8px 17px;
	font-weight: 600;
}
.special_button_back:hover {
	text-decoration: none;
	color: white;
	animation: animated 8s linear infinite;
}
@keyframes animated {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}
.navbar-light .navbar-nav .nav-link {
	color: black;
	font-size: 23px;
	font-weight: 600;
	font-family: 'Nunito', sans-serif;
}
.orange {
	background: #e9ecef;
	color: white;
	font-weight: 500;
}
.hr_style {
	margin: 30px auto;
	border: 1px solid #e9ecef;
	width: 100%;
}
.red_warning {
	background: #b60505;
	color: white;
	border-radius: 30px;
}
.card {
	font-family: 'Poppins', sans-serif;
}
.result {
	color: #e9ecef;
}
.newButton {
	background: #e9ecef;
}
.newButtonText {
	text-decoration: none;
	color: black;
	font-size: 1.3rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
.newButtonText:hover {
	color: white;
}
input[type="radio"] {
	margin-bottom: 20px;
}
.orange {
	background: #fe5000;
	color: white;
	font-weight: 500;
	padding: 8px;
}
.orange:hover {
	color: white;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
.formData_new {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(233, 236, 239, 0.5);
	width: 450px;
	height: 400px;
	border-radius: 10px;
}
.formData_new form {
	padding: 150px 40px;
	text-transform: uppercase;
}
.formData_new input {
	min-width: 100%;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid white;
	height: 30px;
	color: white;
	background-color: transparent;
	outline-style: none;
}
.formData_new label {
	color: white;
}
#btn {
	width: 230px;
	border-radius: 15px;
	height: 30px;
	background-color: red;
	margin: 0;
	border: 0;
	color: white;
}
#logo {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 1%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	background: #fe5000;
	border-radius: 50px;
	padding: 10px 0 0 25px;
}
#logo2 {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 1%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	background: #fe5000;
	border-radius: 50px;
	padding: 10px 0 0 30px;
}
#heading {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
