<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YCAMPO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/subFiles/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
</head>
<body>
        <div class="text-center landing_div">
            <h1 class="display-4">WELCOME TO YCAMPO</h1>
            <form action="/ycampo" mehtod="GET">
                <div class="form-group">
                    <input class="rounded-pill border-0"type="text" name="search" style="width: 300px; height: 40px; outline:none; " placeholder="   Quick Search....">
                    <button class="btn btn-warning d-inline rounded-pill">Find Camps</button>
                </div>
            </form>
            <a href="/ycampo" class="btn btn-warning mt-md-3 p-md-2">Get Your Campground</a>
        </div>
        <ul class='background_imgs'>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
<%-include("./partials/footer") %>
