<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YCAMPO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/subFiles/landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d2f801b43b.js" crossorigin="anonymous"></script>
</head>
<body>
        <div class=" landing_div">
            <h1 class="display-3">WELCOME TO YCAMPO</h1>
            <div class="search-box">
                <form action="/ycampo" mehtod="GET">
                    <input type="text" name="search" class="search-txt" placeholder="   Quick Search...." aria-label="search">
                    <button class="search-bar_submit "> <i class="fas fa-search" aria-label="submit search"></i></button>
                </form>
            </div>
            <a href="/ycampo" class="btn btn-lg special_button mt-3 ml-2">Get Your Campground</a>
        </div>
        <ul class='background_imgs'>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
