<%-include("./partials/header") %>
<div class="container border shadow-lg p-3 mb-5 bg-white rounded set " >
    <h1 class="display-4 font pb-5">ADD CAMPGROUND</h1>
    <form style="font-family: 'Open Sans', sans-serif;" action="/ycampo" method="POST">
        <div class="form-group" >
            <label for="exampleTitle">Title</label>
            <input type="text" class=" form-control form-control-sm" id="exampleTitle" aria-describedby="emailHelp"
                name="title">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" name="city">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" id="inputState" name="state">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="exampleImg1">Img 1</label>
                <input type="text" class="form-control form-control-sm " placeholder="img1" id="exampleImg1" name="img1">
            </div>
            <div class="form-group col-md-4">
                <label for="exampleImg2">Img 2</label>
                <input type="text" class="form-control form-control-sm " placeholder="img2" id="exampleImg2" name="img2">
            </div>
            <div class="form-group col-md-4">
                <label for="exampleImg3">Img 3</label>
                <input type="text" class="form-control form-control-sm " placeholder="img3" id="exampleImg3" name="img3">
                <small id="emailHelp" class="form-text text-muted">It should be img url only.</small>
            </div>
        </div>
        <label for="inputActivity" class="my-5">Activities(Climbing,Trekking,Hiking,Wildlife
            watching,Swimming,Cycling,Campfire,Kayaking,Off-roading,Boating)</label>
        <div class="form-group col-md-6">
            
            <input type="text" class="form-control mb-1" name="activity[0]" placeholder="Activity 1">
            <input type="text" class="form-control mb-1" name="activity[1] " placeholder="Activity 2">
            <input type="text" class="form-control mb-1" name="activity[2] " placeholder="Activity 3">
            <input type="text" class="form-control mb-1" name="activity[3]" placeholder="Activity 4">
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputKnown">Known For</label>
                <input type="text" class="form-control" id="inputKnown" name="known">
            </div>
            
        </div>
        <div class="form-group col-md-4">
            <label for="inputActivity">Other Activities</label>
            <input type="text" class="form-control" name="otherActivities">
        </div>
        <!-- --------------------*******-----CHECKBOXS--------------*******------------------------- -->
        <label for="this">Amenities</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                    <input type="checkbox" aria-label="Checkbox for following text input" name="checkbox[value]" value="Drinking water">
                </div>
            </div>
            Drinking water
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                    <input type="checkbox" aria-label="Checkbox for following text input " name="checkbox[value]"
                        value="Covered area">
                </div>
            </div>
            Covered area
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                    <input type="checkbox" aria-label="Checkbox for following text input" name="checkbox[value]" value="Shower">
                </div>
            </div>
            Shower
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                    <input type="checkbox" aria-label="Checkbox for following text input" name="checkbox[value]"
                        value="Pet allowed">
                </div>
            </div>
            Pet allowed
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                    <input type="checkbox" aria-label="Checkbox for following text input" name="checkbox[value]"
                        value="Breakfast included">
                </div>
            </div>
            Breakfast include
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                    <input type="checkbox" aria-label="Checkbox for following text input" name="checkbox[value]"
                        value="Barbeque grills">
                </div>
            </div>
            Barbeque grills
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                    <input type="checkbox" aria-label="Checkbox for following text input" name="checkbox[value]" value="Wifi">
                </div>
            </div>
            Wifi
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                    <input type="checkbox" aria-label="Checkbox for following text input" name="checkbox[value]"
                        value="Good for groups">
                </div>
            </div>
            Good for groups
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                    <input type="checkbox" aria-label="Checkbox for following text input" name="checkbox[value]"
                        value="Charging points">
                </div>
            </div>
            Charging points
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                    <input type="checkbox" aria-label="Checkbox for following text input" name="checkbox[value]" value="Campfire">
                </div>
            </div>
            Campfire
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                    <input type="checkbox" aria-label="Checkbox for following text input" name="checkbox[value]"
                        value="Toilets">
                </div>
            </div>
            Toilets
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                    <input type="checkbox" aria-label="Checkbox for following text input" name="checkbox[value]"
                        value="Picnic tables">
                </div>
            </div>
            Picnic tables
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend ">
                <div class="input-group-text mr-3">
                    <input type="checkbox" aria-label="Checkbox for following text input" name="checkbox[value]"
                        value="Dinner included">
                </div>
            </div>
            Dinner Included
        </div>
        <!-- --------------------*******-----CHECKBOXS- END-------------*******------------------------- -->
        <div class="form-group">
            <label for="exampleTextarea">Description</label>
            <textarea class="form-control" id="exampleTextarea" rows="6" name="desc"></textarea>
        </div>
        <div class="form-group">
        <label for="price">Price :</label>
        <input type="number" placeholder="Rs." min="1500" step="100" max="4000" name="price"  required>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn special_button btn-lg px-5 ">Submit</button>
        </div>
    </form>

</div>
<%-include("./partials/footer") %>