<%-include("./partials/header1") %>
<div class=" container set">
    <section class="contactForm">
        <div class="formData_new " style="font-family: 'Nunito', sans-serif;">
            <form action="/register" method="POST"> 
                <p id= "logo"><i class="fas fa-user-plus"></i></p>
                <label for="userName" style="font-weight: 600; letter-spacing: 2px;">Username</label>
                <input id="userName" type="text" name="username" placeholder="Enter Username">
                <label for="password" style="font-weight: 600; letter-spacing: 2px;">Password</label>
                <input id="password" type="password" name="password" placeholder="Enter password">
                <button class="btn btn-lg w-100 special_button d-block" style="font-weight: 600;">Submit</button>
            </form>
        </div>
    </section>
</div>
<%-include("./partials/footer") %>